@font-face {
  font-family: 'TTRamillas';
  src: url('../fonts/TTRamillas.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  background-color: #EFEFEF;
  /* color: #9e9ea4; */
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.font-style{
  font-family: 'TTRamillas', serif;
  font-size: 38px;
}


.red-line {
  left: 70px;
  width: 190px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #A9262B;
}

.linha-superior {
  top: 230px;
}

.linha-inferior {
  top: 350px;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}



/* 
@media only screen and (max-width: 1370px) {
  
} */