@tailwind base;
@tailwind components;
@tailwind utilities;


.teste {
  background-image: url(../image/neuro.png);
  background-position: center center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  background-color: #EFEFEF;
  /* color: #9e9ea4; */
  font-family: 'Montserrat', sans-serif;
}

/* .dark-theme,
.dark-theme a {
  background-color: #1d2634;
  color: #EFEFEF;
} */
.left-container {
  border-radius: 20px;
  background: linear-gradient(180deg, #A9262B 1.38%, #FFF 1.45%);
  
}

.mid-containers {
  border-radius: 20px;
  background: linear-gradient(180deg, #A9262B 7.33%, #FFF 8%);

}

.red-line {
  left: 70px;
  width: 190px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #A9262B;
}

.linha-superior {
  top: 230px;
}

.linha-inferior {
  top: 350px;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px; /* Espaçamento entre as divs */

  /* Define a estrutura do grid */
  grid-template-areas:
    "1 1 1"
    "0 1 0";
}

.div1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.div2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.div3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.div4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: center; /* Centraliza a div na horizontal */
}

/* 
@media only screen and (max-width: 1370px) {
  
} */